:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* styles.css */
.container {
  position: relative;
  width: 1200px;
  height: 800px;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  color: black;
}

.question {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 32px;
}

.yes-btn {
  padding: 14px 32px;
  font-size: 16px;
  border: none;
  border-radius: 16px;
  background-color: #22c55e;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
  display: flex;
}

.no-btn {
  position: absolute;
  padding: 14px 32px;
  font-size: 16px;
  border: none;
  border-radius: 16px;
  background-color: #ef4444;
  font-weight: 600;
  cursor: pointer;
  transition:
    left 0.15s ease,
    top 0.15s ease;
}
